/* ==========================================
   APP
========================================== */

.stApp {
    background: #071028;
}

/* Leave room for Streamlit toolbar */

.block-container {
    padding-top: 5rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1800px;
}