/* APP */

.stApp {
    background: #071028;
}

/* SIDEBAR */

section[data-testid="stSidebar"] {
    background: linear-gradient(
        180deg,
        #04111f 0%,
        #06162d 100%
    );
}

/* TEXT */

section[data-testid="stSidebar"] * {
    color: white;
}

/* SECTION HEADINGS */

section[data-testid="stSidebar"] h5 {
    color: #8fa7ff;
    text-transform: uppercase;
}

/* DIVIDERS */

section[data-testid="stSidebar"] hr {
    border-color: rgba(255,255,255,.08);
}

/* METRICS */

section[data-testid="stSidebar"] [data-testid="metric-container"] {
    background: transpar*nt;
    border: none;
    box-shad*w: none;
}